<div data-alert-success="" />
<div data-alert-error="" />

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"><b>Settings</b></h3>
    </div>
    <div class="panel-body">
        <table style="padding: 10px;" width="100%" border="0">
            <tr>
                <td style="width: 25%; vertical-align: top; padding-right: 10px;">
                    <table class="table table-bordered table-hover">
                        <tr>
                            <th colspan="1">Currency</th>
                        </tr>
                        <tr data-ng-repeat="i in currencies">
                            <td>{{i}}</td>
                            <!--<td style="width: 25px">
                                <button class="btn btn-xs btn-danger" type="button" data-ng-click="delete(i.ID)"><span class="glyphicon glyphicon-remove"></span></button>
                            </td>-->
                        </tr>
                    </table>
                </td>
                <td style="width: 25%; vertical-align: top; padding-right: 10px;">
                    <table class="table table-bordered table-hover">
                        <tr>
                            <th colspan="1">Types</th>
                        </tr>
                        <tr data-ng-repeat="i in types">
                            <td>{{i}}</td>
                            <!--<td style="width: 25px">
                                <button class="btn btn-xs btn-danger" type="button" data-ng-click="delete(i.ID)"><span class="glyphicon glyphicon-remove"></span></button>
                            </td>-->
                        </tr>
                    </table>
                </td>
                <td style="width: 25%; vertical-align: top; padding-right: 10px;">
                    <table class="table table-bordered table-hover">
                        <tr>
                            <th colspan="2">Category</th>
                        </tr>
                        <tr data-ng-repeat="(key, data) in categories">
                            <td data-ng-click="getCategories(key)">{{key}}</td>
                            <td style="width: 25px">
                                <button class="btn btn-xs btn-danger" type="button" data-ng-click="removeCategory(key)"><span class="glyphicon glyphicon-remove"></span></button>
                            </td>
                        </tr>
                        <tr>
                            <td><input type="text" class="form-control" data-ng-model="category" /></td>
                            <td style="width: 25px">
                                <button class="btn btn-xs btn-primary" type="button" data-ng-click="addCategory(category)"><span class="glyphicon glyphicon-plus"></span></button>
                            </td>
                        </tr>
                    </table>
                </td>
                <td style="width: 25%; vertical-align: top;">
                    <table class="table table-bordered table-hover">
                        <tr>
                            <th colspan="2">
                                Sub Category [{{selectedCategory}}]
                            </th>
                        </tr>
                        <tr data-ng-repeat="i in categories[selectedCategory]">
                            <td>{{i}}</td>
                            <td style="width: 25px">
                                <button class="btn btn-xs btn-danger" type="button" data-ng-click="removeSubCategory(selectedCategory, i)"><span class="glyphicon glyphicon-remove"></span></button>
                            </td>
                        </tr>
                        <tr>
                            <td><input type="text" class="form-control" data-ng-model="subCategory" /></td>
                            <td style="width: 25px">
                                <button class="btn btn-xs btn-primary" type="button" data-ng-click="addSubCategory(selectedCategory, subCategory)"><span class="glyphicon glyphicon-plus"></span></button>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</div>